body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1b2a;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 500px;
    background: #1b263b;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.job-card {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #000;
}